################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MealMindAPI/bin/Debug/net8.0
/MealMindAPI/obj/Debug/net8.0
