@inherits LayoutComponentBase

<NavMenu />

<div class="app-wrapper-main">
    <main class="main-content">
        <div class="page-card">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    Er is een fout opgetreden.
    <a href="" class="reload">Herladen</a>
    <a class="dismiss">X</a>
</div>
